
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(241, 237, 237);
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
 }

a{
text-decoration: none;
}

h1{
    font-size: 20px;
}

span{
    color: black;
}
#corVerde{
    color: rgb(127, 177, 127);
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}
.button1{
    margin-left: 1.4rem;
    color: rgb(77, 128, 77);
    
}
.button1:hover{
    text-decoration: underline;
}

h2{
    margin-top: 1.1rem;
    font-size: 18px;
    
}

p{
    margin-top: 1.1rem;
    text-align: justify;
}

header{  
    color: var(--title-color);
    border-bottom: 1px solid rgb(156, 149, 149);
    width: 100%;
}

nav{
    height: 7rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: auto;
    width: 95%;
    max-width: 400px;
    margin-left: 12px;
}
.container{
    width: 90%;
    margin: 0 auto;
}

section{
    padding: 3rem 0;
}

.button{
    margin-top: 5.7rem;
    padding: 14px 15px;
    border: none;
    outline: none;
    color: white;
    box-shadow: rgb(77, 128, 77) 1px 1px 1px;
    cursor: pointer;
}


#fundo{
    background-color: rgb(123, 173, 123);
    border-radius: 5px;
}
#fundo:hover{
    background-color: rgb(102, 148, 102);
    box-shadow: rgb(54, 94, 54) 1px 1px 1px;
    
}

.finalização{
    border-bottom: 1px solid rgb(156, 149, 149);
    margin-top: 7rem;
}